@model ClinicaVeterinaria.Models.Visite

@{
    ViewBag.Title = "Aggiungi Visita";
}

<style>
    label,
    h2, h3 {
        color: rgb(4, 116, 124);
    }

    th, tr {
        color: rgb(4, 116, 124);
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center">Aggiungi Visita</h2>
                </div>
                <div class="card-body">

                    @using (Html.BeginForm("Registra", "Visite", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <select name="IDAnimale" class="form-control mt-3">
                            <option value="">Seleziona un animale...</option>
                            @foreach (SelectListItem a in ViewBag.AnimaliDropdown)
                            {
                                <option value="@a.Value">@a.Text</option>
                            }
                        </select>

                        <div class="form-group mb-2 mt-2">
                            @Html.LabelFor(model => model.DataVisita,"Data Visita", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DataVisita, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
                                @Html.ValidationMessageFor(model => model.DataVisita, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group test mb-2">
                            @Html.LabelFor(model => model.EsameObiettivo, "Obiettivo Esame", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.EsameObiettivo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EsameObiettivo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            @Html.LabelFor(model => model.CuraPrescritta,"Cura Prescritta", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CuraPrescritta, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CuraPrescritta, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Aggiungi" class="btn btn-custom" />
                            </div>
                        </div>

                        <div>
                            <div id="visiteContainer"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('select[name="IDAnimale"]').change(function () {
                var animaleId = $(this).val();
                if (animaleId) {
                    $.ajax({
                        url: '@Url.Action("GetVisiteByAnimaleId", "Visite")',
                        type: 'GET',
                        data: { animaleId: animaleId },
                        success: function (data) {
                            var tableHtml = '<h3 class="card-subtitle mb-2">Anamnesi animale selezionato</h3><table class="table"><thead><tr><th>Data Visita</th><th>Esame Obiettivo</th><th>Cura Prescritta</th></tr></thead><tbody>';
                            $.each(data, function (i, visita) {
                                var match = visita.DataVisita.match(/\/Date\((\d+)\)\//);
                                if (match) {
                                    var date = new Date(parseInt(match[1]));
                                    var formattedDate = date.toLocaleDateString('it-IT');

                                    tableHtml += '<tr><td>' + formattedDate + '</td><td>' + visita.EsameObiettivo + '</td><td>' + visita.CuraPrescritta + '</td></tr>';
                                }
                            });
                            tableHtml += '</tbody></table>';
                            $('#visiteContainer').html(tableHtml);
                        },
                        error: function(xhr, status, error) {
                            console.error("Errore AJAX: ", status, error);
                            $('#visiteContainer').html('<p>Si è verificato un errore nel caricamento delle visite.</p>');
                        }
                    });
                } else {
                    $('#visiteContainer').html('');
                }
            });
        });
    </script>
}
