@model IEnumerable<ClinicaVeterinaria.Models.Ricoveri>

@{
    ViewBag.Title = "Elenco Ricoveri";
}

<h2>Elenco Ricoveri</h2>

<p>
    <a href="@Url.Action("Aggiungi")" class="btn btn-primary">Aggiungi Ricovero</a>
</p>

<table class="table">
    <tr>
        <th>Nome Animale</th>
        <th>Data Inizio Ricovero</th>
        <th>Foto</th>
    </tr>
    @foreach (var ricovero in Model)
    {
        <tr>
            <td>@ricovero.Animali.Nome</td>
            <td>@ricovero.DataInizioRicovero.ToShortDateString()</td>
            <td><img src="@Url.Content(ricovero.Foto)" width="100" /></td>
            <td>
                @Html.ActionLink("Dettagli", "Details", new { id = ricovero.ID }, new { @class = "btn btn-info btn-xs" })
                @Html.ActionLink("Modifica", "Modifica", new { id = ricovero.ID }, new { @class = "btn btn-warning btn-xs" })
                @Html.ActionLink("Elimina", "Elimina", new { id = ricovero.ID }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }
</table>
