
@{
    ViewBag.Title = "Dettagli";
}
<style>
    h2, h4, label {
        color: rgb(4, 116, 124);
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h2 class="text-center">Dettagli</h2>

                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Modifica", "Animali", FormMethod.Post))
                    {


                        <div class="container mt-4">
                            <h2>Dettaglio Animale</h2>
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="nome">Nome Animale:</label>
                                            <input type="text" class="form-control" name="Nome" value="@ViewBag.Animale.Nome">
                                        </div>
                                        <div class="form-group">
                                            <label for="tipologia">Tipologia:</label>
                                            <input type="text" class="form-control" name="Tipologia" value="@ViewBag.Animale.Tipologia">
                                        </div>
                                        <div class="form-group">
                                            <label for="colore_mantello">Colore Mantello:</label>
                                            <input type="text" class="form-control" name="ColoreMantello" value="@ViewBag.Animale.ColoreMantello">
                                        </div>
                                        <div class="form-group">
                                            <label for="data_nascita">Data di Nascita:</label>
                                            <input type="date" class="form-control" name="DataNascita" value="@((ViewBag.Animale.DataNascita != null) ? ((DateTime)ViewBag.Animale.DataNascita).ToString("yyyy-MM-dd") : "")">
                                        </div>
                                        <div class="form-group">
                                            <label for="microchip">Microchip:</label>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="microchip_si" name="Microchip" value="Si" @(ViewBag.Animale.Microchip == true ? "checked" : "")>
                                                <label class="form-check-label" for="microchip_si">Si</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="microchip_no" name="Microchip" value="No" @(ViewBag.Animale.Microchip == false ? "checked" : "")>
                                                <label class="form-check-label" for="microchip_no">No</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="numero_microchip">Numero Microchip:</label>
                                            <input type="text" class="form-control" name="NumeroMicrochip" value="@ViewBag.Animale.NumeroMicrochip">
                                        </div>
                                        <div class="form-group">
                                            <label for="nome_proprietario">Nome Proprietario:</label>
                                            <input type="text" class="form-control" name="NomeProprietario" value="@ViewBag.Animale.NomeProprietario">
                                        </div>
                                        <div class="form-group">
                                            <label for="cognome_proprietario">Cognome Proprietario:</label>
                                            <input type="text" class="form-control" name="CognomeProprietario" value="@ViewBag.Animale.CognomeProprietario">
                                        </div>
                                   
                                        <div class="my-3">
                                            <div>

                                        @using (Html.BeginForm("Modifica", "Animali", FormMethod.Post))
                                        {
                                            <input hidden="hidden" name="ID" value="@ViewBag.Animale.ID" />
                                            <button class="btn btn-custom">Salva Modifiche</button>
                                        }
                                            </div>
                                            <div class="mt-3">

                                        @using (Html.BeginForm("Elimina", "Animali", FormMethod.Post))
                                        {
                                            <input hidden="hidden" name="ID" value="@ViewBag.Animale.ID" />
                                            <button class="btn btn-danger p-2">Elimina</button>
                                        }
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

